/*Lição nome, idade e peso. 👍👔💼
*Faça uma aplicação em Java para mostrar seu nome, sua idade e seu peso.
*Utilize o código abaixo.
*Pode ser feito em dupla ou em trio.
*/

package nome;
public class Nome {
public static void main(String[] args) {
String name1 = "Flavia";
String name2 = "Maria";
String name3 = "Raphael"; 
int idade1 = 53;
int idade2 = 16;
int idade3 = 19;
double peso1 = 77.3;
double peso2 = 50.2;
double peso3 = 46.5;

System.out.println("Sou " + name1 + " Tenho " + idade1 + " anos e peso " + peso1);
System.out.println("Sou " + name2 + " Tenho " + idade2 + " anos e peso " + peso2);
System.out.println("Sou " + name3 + " Tenho " + idade3 + " anos e peso " + peso3);
  }
}
